<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head">
</head>
<body>

	<div th:replace="fragments/layout :: menu ('home')"></div>
	<div class="container-fluid">
		<div class="container xd-container">
			<div>
				<br />
				<br />
				<br />
				<form th:object="${loggedInUser}" method="post">
					<div class="row">
						<label for="username">Username:</label> <span
							th:text="${loggedInUser.email}" />
					</div>
					<div class="row">
						<label for="firstName">Name:</label> <span th:text="*{firstName}" />
						<span th:text="*{lastName}" />
					</div>
					<div class="row">
						<label for="image">Image:</label> <img th:attr="src=@{*{image}}"
							style="width: 150px; height: 150px;" />
					</div>

				</form>

			</div>
		</div>
	</div>
</body>
</html>