<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/layout :: head">
</head>

<body>
	<div th:replace="fragments/layout :: menu ('home')"></div>
	<div class="container-fluid">
		<div class="container xd-container">
			<div id="main">
				<h2 th:text="#{welcome}">Welcome</h2>
				<div class="row">
					<div class="col-md-12">
						<img class="img-responsive"
							src="../static/resources/images/pets.png"
							th:src="@{/resources/images/pets.png}" />
					</div>
				</div>
				<ol>
					<li><a href="/login/facebook">Facebook Login</a></li>
					<li>

						<form action="/connect/facebook" method="POST"
							style="display: inline">
							<input type="hidden" name="scope" value="public_profile,email" />
							<button type="submit" class="btn btn-primary">
								Facebook <span class="fa fa-facebook"></span>
							</button>
						</form>



					</li>
					<li><a href="/login/github">Github Login</a></li>
					<li>
						<form action="/logout">
							<button type="submit" class="btn btn-primary">Logout</button>
						</form>
					</li>
				</ol>
			</div>
		</div>
	</div>
</body>

</html>