<!DOCTYPE html>
<!-- 
To start we will create a view which will have 3 buttons each for Google, Facebook and Login.
When the user will click on any of them he will be asked for authorization for the selected provider,
upon verification his details will be rendered on the page.
 -->
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/layout :: head">
</head>

<body>
	<div th:replace="fragments/layout :: menu ('home')"></div>
	<div class="container-fluid">
		<div class="container xd-container">
			<div id="main">
				<h2 th:text="#{welcome}">Welcome</h2>
				<div class="row">
					<div class="col-md-12">
						<img class="img-responsive"
							src="../static/resources/images/pets.png"
							th:src="@{/resources/images/pets.png}" />
					</div>
				</div>
				<ol>
					<li>

						<form action="/connect/facebook" method="POST"
							style="display: inline">
							<input type="hidden" name="scope" value="public_profile,email" />
							<button type="submit" class="btn btn-primary">
								Facebook Login<span class="fa fa-facebook"></span>
							</button>
						</form>



					</li>
					<li><a href="/login/github">Github Login</a></li>
					<li>
						<form action="/logout">
							<button type="submit" class="btn btn-primary">Logout</button>
						</form>
					</li>
				</ol>
			</div>
		</div>
	</div>
</body>

</html>